Had a remarkable live test run of the robot over the last couple of days. At first the testing was typical, then this project got featured in DevArt and the robot was soon flooded with commands from all over the internet.  At one point the apache tomcat server ran out of threads at 200.  We were not expecting a stress test, but we got one and survived it for the most part. The threading issue only hung up server briefly and should be easy fix.

More interesting than these technical issues, however, is the artistic response this interface elicited. Contributions were made by people from all over the internet.  They were all painting this portrait of Lincoln that was live on crowdpainter.com.  

![Beta Test 84](../project_images/trace.jpg?raw=true "Beta Test 84")

The following is a time lapse video that chronicles 2 days of live open testing.  Half way through the video you will notice that sometime in the early afternoon of the second day, things get interesting.  This must have been when this project got featured.  Multiple users appear to be battling for control of the brush strokes.  Two separate vandals put an "X" on Lincoln's face and an anarchy symbol in the background. Someone says "HI". Another person signs their name multiple times.  

The coolest thing to happen, however, is that most of the people just work on the portrait.  Someone even spends a good bit of time attempting to repair the "X" that disfigured Lincoln's face.  Watching this painting get crowd-sourced was like watching a battle between order and chaos.  At the end of the second day, something in the middle prevailed. 

http://youtu.be/4ohU4tAd_NA
